.login{
  width: 960px;
  margin: auto;
  text-align: center;
}
.pokemons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.pokemon{
  width: 180px;
  height: 180px;
  margin: 50px;
  border: solid black;
  border-radius: 10px;
}
.pokemon img{
  display: block;
}
.pokemon span{
  display: block;
}